# Homework 6 (Extra Credit)
In this assignment, you will practice using Pandas to solve problems you implemented with base Python. For those of you who attempted Part 6 of Homework 2/3, it is exactly the same as what you did then. This time, however, you will use the power of Pandas to generate your answers.

#### Part 1 - Describe my students

In the cell below, I've written a bit of code to load some data for you to analyze.

`student_info` contains personal information for several students. You will use this to answer all of the questions in Part 4.

In [1]:
import pandas as pd
student_info = pd.read_csv('students.csv')

In [2]:
student_info.head()

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00

1.1) How many different majors are represented by these students?

1.2) What is the most popular major amongst each gender?

1.3) For each major, what is the ratio of males to females in each class? For example, in the major or Economics, what are the ratios of males to females in the freshman class, sophomore class, junior class, and senior class? (NOTE: I *strongly* recommend creating a function to help you answer this one).

1.4) Which major has the highest average gpa for men and which major has the highest gpa for women?