# Homework 6 (Extra Credit)
In this assignment, you will practice using Pandas to solve problems you implemented with base Python. For those of you who attempted Part 6 of Homework 2/3, it is exactly the same as what you did then. This time, however, you will use the power of Pandas to generate your answers.

#### Part 1 - Describe my students

In the cell below, I've written a bit of code to load some data for you to analyze.

`student_info` contains personal information for several students. You will use this to answer all of the questions in Part 4.

In [2]:
import pandas as pd
student_info = pd.read_csv('students.csv')

In [3]:
student_info.head()

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00

1.1) How many different majors are represented by these students?

In [4]:
len(set(student_info['major']))

6

1.2) What is the most popular major amongst each gender?

In [45]:
most_pop_major = student_info.groupby(['major'])[['student_id']].count()

most_pop_major.loc[most_pop_major.idxmax()]

         student_id
major
Finance        2241

1.3) For each major, what is the ratio of males to females in each class? For example, in the major or Economics, what are the ratios of males to females in the freshman class, sophomore class, junior class, and senior class? (NOTE: I *strongly* recommend creating a function to help you answer this one).

In [64]:
def ratio_major_geneder(students):
    major_pop = students.groupby(['major', 'class'])[['student_id']].count()
    major_sex = students.groupby(['major', 'class', 'gender'])[['student_id']].count()
    major_sex['ratio'] = major_sex['student_id'] / major_pop['student_id'].reindex(major_sex.index)
    return major_sex

ratio_major_geneder(student_info)

                              student_id     ratio
major       class     gender
Chemistry   Freshman  Female         243  0.660326
                      Male           125  0.339674
            Junior    Female         245  0.653333
                      Male           130  0.346667
            Senior    Female         224  0.641834
                      Male           125  0.358166
            Sophomore Female         260  0.626506
                      Male           155  0.373494
Economics   Freshman  Female         344  0.780045
                      Male            97  0.219955
            Junior    Female         352  0.770241
                      Male           105  0.229759
            Senior    Female         426  0.739583
                      Male           150  0.260417
            Sophomore Female         378  0.757515
                      Male           121  0.242485
Engineering Freshman  Female         105  0.218750
                      Male           375  0.781250
            Junior    Female         124  0.283753
                      Male           313  0.716247
            Senior    Female         155  0.242188
                      Male           485  0.757812
            Sophomore Female         126  0.264151
                      Male           351  0.735849
Finance     Freshman  Female         311  0.534364
                      Male           271  0.465636
            Junior    Female         295  0.565134
                      Male           227  0.434866
            Senior    Female         322  0.559028
                      Male           254  0.440972
            Sophomore Female         282  0.502674
                      Male           279  0.497326
Math        Freshman  Female          85  0.372807
                      Male           143  0.627193
            Junior    Female          51  0.322785
                      Male           107  0.677215
            Senior    Female          72  0.300000
                      Male           168  0.700000
            Sophomore Female          27  0.259615
                      Male            77  0.740385
Physics     Freshman  Female         148  0.389474
                      Male           232  0.610526
            Junior    Female         158  0.321138
                      Male           334  0.678862
            Senior    Female          72  0.281250
                      Male           184  0.718750
            Sophomore Female         116  0.299742
                      Male           271  0.700258

1.4) Which major has the highest average gpa for men and which major has the highest gpa for women?

In [61]:
def highest_avg_gpa(students):
    major_gpa = students.groupby(['gender','major'])[['gpa']].mean()
    female_gpa = major_gpa.filter(like='Female', axis=0)
    male_gpa = major_gpa.filter(like='Male', axis=0)
    return female_gpa.loc[female_gpa.idxmax()], male_gpa.loc[male_gpa.idxmax()]

highest_avg_gpa(student_info)

(                     gpa
 gender major
 Female Finance  3.654529,                      gpa
 gender major
 Male   Finance  3.568535)