# MSDS 631 - Lecture 8 (March 20, 2019)

## Combining Data in Pandas

### Merging Data

Merging data is one of the most powerful tools in Pandas. If you've learned SQL before, then you'll be familiar with a lot of these concepts. Merging allows us to match data from different DataFrames.

Using the students data, imagine we are trying to "standardize" the students GPAs. For those of you unfamiliar with standardization, it is measuring the number of standard deviations away from the mean that a value is.

Since each major has a slightly different level of difficulty and each class has a different composition of student talent, we want to compare each student's GPA against the values for their major and class. Let's do that now.

In [2]:
import pandas as pd
students_df = pd.read_csv('students.csv')

In [4]:
students_df.head()

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00

In [ ]:
mean_gpa_by_major_and_class = 
std_gpa_by_major_and_class =

In [ ]:
mean_gpa_by_major_and_class.head()

In [ ]:
std_gpa_by_major_and_class.head()

In [ ]:
#Need to rename column since they share the same name - method 1

In [ ]:
#Method 2 for renaming columns
#Note this method RETURNS the new dataframe

In [ ]:
#Merge means to students_df

In [ ]:
#What does the DataFrame look like now?
students_df_w_mean.head()

In [ ]:
#Merge standard deviations to new students_df

In [ ]:
#What does the DataFrame look like now?
students_df_w_mean_std.head()

In [ ]:
#Compute how far from the mean the student's GPA is
students_df_w_mean_std['std_from_mean'] =

In [ ]:
#Compute how many standard deviations away from the mean the student's GPA is
students_df_w_mean_std['standardized_gpa'] =

In [ ]:
#Look at the new data
students_df_w_mean_std.head()

In [ ]:
#Look at the distribution of original GPAs
from matplotlib import pyplot as plt
students_df_w_mean_std['gpa'].hist(bins=20)
plt.show()

In [ ]:
#Look at the distribution of standardized GPAs
students_df_w_mean_std['standardized_gpa'].hist(bins=20)
plt.show()

Let's try looking at disparate data and use it to join the data.

Let's use Pandas to get all of the data from Quiz 2 into the same DataFrame.

In [ ]:
with open('department_enrollment.json', 'r') as f:
    dept_enrollment = json.load(f)

In [ ]:
dept_enrollment.keys()

In [ ]:
#Let's try creating a DataFrame from this dictionary of lists

The creation of DataFrames from dictionaries of lists MUST have lists that are the same length. Since we can't do that with our dictionary here, we're going to have to manually do this.

In [ ]:
#Write a function that makes a single DataFrame for a major

In [ ]:
#Let's create a list of DataFrames and concatenate them together

In [ ]:
#Take a look at the new big DataFrame

In [ ]:
#Let's load the student_gpas.json file

In [ ]:
#Getting the data into a DataFrame isn't easy

In [ ]:
#Load student_directory data

In [186]:
#Now let's combine all of the data together

In [ ]:
#We can convert a dictionary of values into a Pandas Series
#Remember that a DataFrame is equivalent to a dictionary of lists
pd.Series(average_gpas)