# Homework 5
### Intro to Numpy and Pandas

In this assignment, you will start practice using the two most important scientific libraries in Python. You will be asked to perform a variety of mathematical operations, filtering, and other challenges to gain familiarity with the libraries.

Some of the questions will ask you to perform Numpy and Pandas operations that have yet to be covered in class. As I indicated at the end of class, the benefit of these scientific libraries is that you can do a LOT of things with very little code. It does, however, require a LOT of memorization and searching as to how to do things (whereas in base Python you have very few things to memorize but need the creativity to write code that will yield your desired objective). Thus, you will constantly be having to do searches on how to do things. You should use Google or you may search the libraries' documentation here:
- Numpy: https://docs.scipy.org/doc/numpy-1.16.1/reference/
- Pandas: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html

There are extra problems at the end for students in Section 05. Section 04-only students are not required to do these, but I highly encourage you to do them anyway since it is excellent practice for figuring out how to analyze data.

#### Part 1 - Read the Docs

1.1) Go to the Pandas documentation and read the 10-minute tutorial on Pandas.

https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

1.2) Describe two things from the tutorial that you learned Pandas can do that was not covered in class

#### Part 2 - Loading Data

2.1) Load the **`students.csv`** using Pandas into a DataFrame and store it as a variable called **`students_df1`**. Display the first 5 rows.

In [2]:
import pandas as pd
students_df1 = pd.read_csv('students.csv')

In [3]:
students_df1.head()

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00

2.2) Using the **`json`** library, load the **`students.json`** file and store it as a variable called **`students_list_of_dicts`**

In [4]:
import json
students_list_of_dicts = json.load(open('students.json', 'r'))
students_list_of_dicts[:5]

[{u'class': u'Junior',
  u'first': u'Janis',
  u'gender': u'Female',
  u'gpa': 3.12,
  u'last': u'Brown',
  u'major': u'Economics',
  u'student_id': u'5a397209-3782-4764-a285-10fae807ee71'},
 {u'class': u'Sophomore',
  u'first': u'Timothy',
  u'gender': u'Male',
  u'gpa': 3.48,
  u'last': u'Bishop',
  u'major': u'Economics',
  u'student_id': u'e26c3d69-3c74-49b6-81d7-47232787fad9'},
 {u'class': u'Freshman',
  u'first': u'Elizabeth',
  u'gender': u'Female',
  u'gpa': 3.4,
  u'last': u'Owens',
  u'major': u'Finance',
  u'student_id': u'975c1581-5ba2-430c-a3d1-01ce03bd83f9'},
 {u'class': u'Freshman',
  u'first': u'Edward',
  u'gender': u'Male',
  u'gpa': 3.84,
  u'last': u'Pearson',
  u'major': u'Math',
  u'student_id': u'6081f91d-365c-46ce-ad1b-38af120781d9'},
 {u'class': u'Junior',
  u'first': u'Lisa',
  u'gender': u'Female',
  u'gpa': 4.0,
  u'last': u'Gonzalez',
  u'major': u'Finance',
  u'student_id': u'84cec8f4-0b64-44ce-a628-c0eb73f6ca6f'}]

2.3) The **`students_list_of_dicts`** variable is a list of dictionaries where each dictionary contains a student's information. From this data, create a list of lists where each interior list contains a student's information in the following order:
1. Student ID
2. First Name
3. Last Name
4. Gender
5. Major
6. Class
7. GPA

Assign your list of lists to a variable called **`students_list_of_lists`**

In [9]:
def convert_dict_to_list(student_dict):
    student_list = []
    key_order = ['student_id', 'first', 'last', 'gender', 'major', 'class', 'gpa']
    for key in key_order:
        student_list.append(student_dict[key])
    return student_list

In [10]:
students_list_of_lists = []
for student in students_list_of_dicts:
    student_list = convert_dict_to_list(student)
    students_list_of_lists.append(student_list)

You can convert your list of lists into a DataFrame by passing it into a DataFrame Object. Run the code in the cell below.

In [11]:
students_df2 = pd.DataFrame(students_list_of_lists)

Now look at the first five rows of this new DataFrame

In [12]:
students_df2.head()

,0,1,2,3,4,5,6
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Economics,Junior,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Economics,Sophomore,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Finance,Freshman,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Math,Freshman,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Finance,Junior,4.00

2.4) The data in your new DataFrame looks like the data in your first DataFrame, but now it has no headers. Please give your new DataFrame column names that match your first DataFrame **(this was not covered in class)**.

In [13]:
cols = ['student_id', 'first', 'last', 'gender', 'major', 'class', 'gpa']
students_df2.columns = cols

2.5) Create a dictionary and assigne it to the variable **`students_dict_of_lists`**. The dictionary should have the following keys:
- "student_id"
- "first"
- "last"
- "gender"
- "major"
- "class"
- "gpa"

The value of each of these keys should be an empty list.

Now iterate though **`students_list_of_dicts`** and extract the relevent information from each student's info and add it into the appropriate list within **`students_dict_of_lists`**. Each respective index within the various lists should contain information for the same student (i.e. index 0 for student_id, first, last, etc should be for the first student, index 1 should be the second student, and so on and so forth).

In [14]:
students_dict_of_lists = {}
fields = list(students_list_of_dicts[0].keys())

In [15]:
for student in students_list_of_dicts:
    for field in fields:
        if field in students_dict_of_lists:
            students_dict_of_lists[field].append(student[field])
        else:
            students_dict_of_lists[field] = [student[field]]

You can convert your dictionary of lists into a DataFrame by passing the DataFrame Object a dictionary of lists. Run the code in the cell below.

In [16]:
students_df3 = pd.DataFrame(students_dict_of_lists)

2.6) Now look at the first five rows of this new DataFrame.

In [17]:
students_df3.head()

,class,first,gender,gpa,last,major,student_id
0,Junior,Janis,Female,3.12,Brown,Economics,5a397209-3782-4764-a285-10fae807ee71
1,Sophomore,Timothy,Male,3.48,Bishop,Economics,e26c3d69-3c74-49b6-81d7-47232787fad9
2,Freshman,Elizabeth,Female,3.40,Owens,Finance,975c1581-5ba2-430c-a3d1-01ce03bd83f9
3,Freshman,Edward,Male,3.84,Pearson,Math,6081f91d-365c-46ce-ad1b-38af120781d9
4,Junior,Lisa,Female,4.00,Gonzalez,Finance,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f

Note how the column headers are already assigned using the keys from the dictionary! However, the order is quite random. Let's reorder the columns and store it back into students_df3 by running the code in the cell below.

In [18]:
column_order = ['student_id', 'first', 'last', 'gender', 'class', 'major', 'gpa']
students_df3 = students_df3[column_order]

In [19]:
students_df3.head()

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00

2.7) Now pass your original list of dictionaries (**`students_list_of_dicts`**) into a DataFrame Object and assign it to a variable **`students_df4`**. Take a look at the first five rows.

In [20]:
students_df4 = pd.DataFrame(students_list_of_dicts)

In [21]:
students_df4.head()

,class,first,gender,gpa,last,major,student_id
0,Junior,Janis,Female,3.12,Brown,Economics,5a397209-3782-4764-a285-10fae807ee71
1,Sophomore,Timothy,Male,3.48,Bishop,Economics,e26c3d69-3c74-49b6-81d7-47232787fad9
2,Freshman,Elizabeth,Female,3.40,Owens,Finance,975c1581-5ba2-430c-a3d1-01ce03bd83f9
3,Freshman,Edward,Male,3.84,Pearson,Math,6081f91d-365c-46ce-ad1b-38af120781d9
4,Junior,Lisa,Female,4.00,Gonzalez,Finance,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f

In [23]:
students_df4 = students_df4[column_order] #Reorder the columns
students_df4.head()

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00

2.8) Describe the four ways that you just created a DataFrame with the same information.

1) Loaded a csv file directly into a DataFrame
2) Converted a list of lists into a DataFrame, then gave the DataFrame some column names
3) Converted a dictionary of lists into a DataFrame, then reordered the columns (since the keys are unordered)
4) Converted a list of dictionaries int a DataFrame, then reordered the columns (since the keys are unordered)

#### Part 3 - Numpy Arrays

3.1) Take the list of GPAs from **`students_dict_of_lists`** and create a numpy array with it (stored in a new variable, not in **`students_dict_of_lists`**)

In [24]:
import numpy as np
gpas = np.array(students_dict_of_lists['gpa'])

3.2) With your array, compute the min, max, mean, and median GPAs.

In [25]:
gpas.min()
gpas.max()
gpas.mean()
np.median(gpas)

3.3799999999999999

3.3) With your array, compute the number of students who have GPAs below a 3.0.

In [26]:
(gpas < 3).sum()

1595

3.4) With your array, compute the percentage of students who have GPAs below a 3.0.

In [27]:
(gpas < 3).mean()

0.1595

3.5) Create another array and use it with your previous array to compute the average GPA amongst Physics students

In [28]:
majors = np.array(students_dict_of_lists['major'])
physics_filter = majors == 'Physics'
physics_gpas = gpas[physics_filter]
physics_gpas.mean()

3.2956633663366337

3.6) Compute the percentage of Engineering students that have GPAs below a 3.0 without using any division.

In [29]:
eng_filter = majors == 'Engineering'
eng_gpas = gpas[eng_filter]
eng_probation = eng_gpas < 3
eng_probation.mean()

0.35939036381514256

3.7) Create another array from **`students_dict_of_lists`** containing the students genders. Use it with your other arrays to compute the percentage of Male Engineering students that have GPAs below a 3.0. Do it without explicitly using any division.

In [30]:
genders = np.array(students_dict_of_lists['gender'])
male_filt = genders == 'Male'
male_eng_filt = male_filt & eng_filter
male_eng_gpas = gpas[male_eng_filt]
male_eng_filt
male_eng_probation = male_eng_gpas < 3
male_eng_probation.mean()

0.31758530183727035

#### Part 4 - Pandas Filtering

For the problems in Part 3, please use **`students_df1`** as the source of your data.

4.1) Create a variable that is a filter for all students that are majoring in Economics.

In [31]:
econ_filt = students_df1['major'] == 'Economics'

4.2) Create a DataFrame of information of Economics students by using your filter from 3.1.

In [32]:
econ_df = students_df1[econ_filt]
econ_df.head()

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
12,1846c044-9a87-49e4-ad4f-d1bfadb4e41b,Lisa,Walden,Female,Senior,Economics,3.40
15,35de9214-505e-4d55-80e6-0302098a44b6,Joan,Decoteau,Female,Senior,Economics,3.81
35,906aede7-c027-486b-8237-5b4f6cec14bd,Scott,Avenoso,Male,Senior,Economics,3.80

4.3) Create a variable containing a DataFrame of students' information for Physics students **without explicitly creating a filter variable**

In [33]:
physics_df = students_df1[students_df1['major']=='Physics']
physics_df.head()

,student_id,first,last,gender,class,major,gpa
14,15714049-2a88-4dbc-8d1a-dde0095a3acf,Lola,Bailey,Female,Senior,Physics,3.28
18,abfe23e2-fe76-42a4-b8ae-1bd24b7ed1bf,James,Bertolini,Male,Junior,Physics,3.53
19,a1dbc2a8-7e1a-4276-82fc-c3f7dbc42661,David,Burnette,Male,Senior,Physics,3.09
27,fb41a474-ee2b-492f-982e-d0acdd8c277d,Pedro,Baldyga,Male,Junior,Physics,3.68
33,396c12bc-a0de-4b4c-b6e4-eee71c642412,George,Arellano,Male,Senior,Physics,3.38

4.4) Create a variable containing a dictionary whose keys are the possible majors. The value for those keys should be a DataFrame of information of students in that major. Do not manually do this - you must use a for-loop.

In [34]:
major_dfs = {}
majors = set(students_df1['major'])
for major in majors:
    filtered_df = students_df1[students_df1['major']==major]
    major_dfs[major] = filtered_df

In [35]:
print(major_dfs.keys())
print(major_dfs['Economics'].head())

['Finance', 'Economics', 'Engineering', 'Chemistry', 'Physics', 'Math']
                              student_id    first      last  gender  \
0   5a397209-3782-4764-a285-10fae807ee71    Janis     Brown  Female
1   e26c3d69-3c74-49b6-81d7-47232787fad9  Timothy    Bishop    Male
12  1846c044-9a87-49e4-ad4f-d1bfadb4e41b     Lisa    Walden  Female
15  35de9214-505e-4d55-80e6-0302098a44b6     Joan  Decoteau  Female
35  906aede7-c027-486b-8237-5b4f6cec14bd    Scott   Avenoso    Male

        class      major   gpa
0      Junior  Economics  3.12
1   Sophomore  Economics  3.48
12     Senior  Economics  3.40
15     Senior  Economics  3.81
35     Senior  Economics  3.80

4.5) Create a variable containing a dictionary whose keys are the possible majors. The value for those keys should be a DataFrame containing all of the information for students with GPAs greater than or equal to 3.7. Do not manually do this -  you must use a for-loop.

In [36]:
smart_major_dfs = {}
for major in majors:
    major_df = major_dfs[major]
    smart_filt = major_df['gpa'] > 3.7
    smart_major_df = major_df[smart_filt]
    smart_major_dfs[major] = smart_major_df

In [37]:
print(smart_major_dfs.keys())
print(smart_major_dfs['Economics'].head())

['Finance', 'Economics', 'Engineering', 'Chemistry', 'Physics', 'Math']
                              student_id    first      last  gender   class  \
15  35de9214-505e-4d55-80e6-0302098a44b6     Joan  Decoteau  Female  Senior
35  906aede7-c027-486b-8237-5b4f6cec14bd    Scott   Avenoso    Male  Senior
43  667a8999-3765-4a83-bc64-612f64a2011e    Tosha  Flanagan  Female  Junior
67  b7fd1a05-80b7-4fa4-8eef-db1851ad2a4f     Alma     Hines  Female  Junior
99  014cde8b-d943-4187-b711-402c316ee546  Michael    Walden    Male  Senior

        major   gpa
15  Economics  3.81
35  Economics  3.80
43  Economics  3.92
67  Economics  3.77
99  Economics  3.89

# Extra Problems - Only Required by Section 05
Below are some computations that will help improve your understanding of how to compute information using DataFrames.

#### Part 5 - Computing

5.1) Create a function that, given a DataFrame, computes the following information:
- The mean gpa
- The standard deviation of gpa
- The median gpa

Your function should return a dictionary with two keys for the above information.

In [42]:
def generate_summary(df):
    major_dict = {}
    major_dict['gpa_mean'] = df.gpa.mean()
    major_dict['gpa_std'] = df.gpa.std()
    major_dict['gpa_median'] = df.gpa.median()
    return major_dict

5.2) Create a function that returns a filter for students whose GPAs lie within one standard deviation of the mean.

In [44]:
def filter_one_std(df):
    one_std_filt = (df.gpa - df.gpa.mean()).abs() < df.gpa.std()
    return one_std_filt

5.3) Take the same code you wrote for 5.1 and add it to the cell below. To it, let's add one more keys to the returned dictionary:
- The percentage of students whose GPAs lie within one standard deviation of the mean

In [45]:
def generate_summary(df):
    major_dict = {}
    major_dict['gpa_mean'] = df.gpa.mean()
    major_dict['gpa_std'] = df.gpa.std()
    students_w_in_1_std_filt = filter_one_std(df).mean()
    major_dict['pct_students_w_in_1_std'] = students_w_in_1_std_filt.mean()
    major_dict['gpa_median'] = df.gpa.median()
    return major_dict

In [46]:
generate_summary(students_df1)

{'gpa_mean': 3.376525999999985,
 'gpa_median': 3.38,
 'gpa_std': 0.3700415171253616,
 'pct_students_w_in_1_std': 0.65129999999999999}

5.4) Create an empty dictionary Store called **`major_summary_dict`**. Now write a for-loop that computes the information from `5.3` for students in each major. You should loop through the majors and use the major to filter your original DataFrame to yield a DataFrame that only includes students that are in that major. You should then pass that filtered DataFrame into your function to retrieve the summary statistics for that major. Store that returned dictionary in your empty dictionary as the value of the key-value pair where the key is the major name. In the end you should have a dictionary of dictionaries (keyed on the various majors).

In [47]:
majors = students_df1.major.unique()

In [48]:
major_summary_dict = {}
for major in majors:
    major_summary_dict[major] = generate_summary(students_df1[students_df1.major==major])

In [49]:
major_summary_dict

{'Chemistry': {'gpa_mean': 3.359150630391504,
  'gpa_median': 3.36,
  'gpa_std': 0.32550105701639787,
  'pct_students_w_in_1_std': 0.67352355673523556},
 'Economics': {'gpa_mean': 3.487805372529144,
  'gpa_median': 3.51,
  'gpa_std': 0.3287228630953865,
  'pct_students_w_in_1_std': 0.64419665484034461},
 'Engineering': {'gpa_mean': 3.10628318584071,
  'gpa_median': 3.11,
  'gpa_std': 0.316305142046217,
  'pct_students_w_in_1_std': 0.68584070796460173},
 'Finance': {'gpa_mean': 3.614966532797852,
  'gpa_median': 3.65,
  'gpa_std': 0.3239709136593943,
  'pct_students_w_in_1_std': 0.60240963855421692},
 'Math': {'gpa_mean': 3.300452054794523,
  'gpa_median': 3.31,
  'gpa_std': 0.32736959481229905,
  'pct_students_w_in_1_std': 0.67260273972602735},
 'Physics': {'gpa_mean': 3.2956633663366346,
  'gpa_median': 3.3,
  'gpa_std': 0.33003803503320817,
  'pct_students_w_in_1_std': 0.67326732673267331}}

Let's convert your dictionary into a DataFrame now.

In [50]:
major_summary_df = pd.DataFrame(major_summary_dict)
major_summary_df

,Chemistry,Economics,Engineering,Finance,Math,Physics
gpa_mean,3.359151,3.487805,3.106283,3.614967,3.300452,3.295663
gpa_median,3.360000,3.510000,3.110000,3.650000,3.310000,3.300000
gpa_std,0.325501,0.328723,0.316305,0.323971,0.327370,0.330038
pct_students_w_in_1_std,0.673524,0.644197,0.685841,0.602410,0.672603,0.673267

This is wrong because columns are supposed to be "attributes" and rows are supposed to be "observations." In this case, your columns are the majors and the attributes are in the rows. Let's transpose your data so that your DataFrame is appropriately shaped.

In [51]:
major_summary_df = major_summary_df.transpose()

In [52]:
major_summary_df

             gpa_mean  gpa_median   gpa_std  pct_students_w_in_1_std
Chemistry    3.359151        3.36  0.325501                 0.673524
Economics    3.487805        3.51  0.328723                 0.644197
Engineering  3.106283        3.11  0.316305                 0.685841
Finance      3.614967        3.65  0.323971                 0.602410
Math         3.300452        3.31  0.327370                 0.672603
Physics      3.295663        3.30  0.330038                 0.673267

Now if we wanted to, we can do some analysis on your summaries!