# MSDS 631 - Lecture 6 (February 27, 2019)

## Key Scientific Libraries - Numpy and Pandas

--------
##### Sidenote: List Comprehensions
Sometimes you want to create a simple list and writing so many lines of code might seem silly. List comprehensions are a nice, clean, efficient way to create lists without having to write out so much code.

In [1]:
remainders = []
for i in range(101):
    remainder = i % 2
    remainders.append(remainder)

In [2]:
def gimme_even_or_odd(num):
    if num % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [3]:
remainders = [i % 2 for i in range(10)]
remainders

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [4]:
evens_and_odds = [gimme_even_or_odd(i) for i in range(10)]

In [5]:
evens_and_odds

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

While list comprehensions are cool and clean looking, please be careful to not go overboard with these. They are easy to screw up, so the more complex your logic, the harder it is to write them.

---

### Scientific Libraries

While Python is arguably the most widely used language for Data Scientists, the language by itself does not necessarily lend itself to performing data analysis or modeling. The most influential evolution of the language that led the widespread adoption in the field was the creation of two libraries: Numpy and Pandas.

Numpy (prounounced "num-pie") was originally written in 1995, but it took it's current form in 2006. Since then it has been a foundational library for performing data analysis in Python. Two years later, Wes McKinney wrote Pandas, which took the concepts started by Numpy and melded it with powerful data structures from R.

Let's start by talking about Numpy.

Numpy is a library that has many built-in Objects that utilize code written in the C language. This makes code run MUCH much faster than what you might see in Python (and often with a lot less code). Let's take a look at a few examples.

### Intro to Numpy

In [6]:
import random
import numpy as np #We use an alias to shorten our code

##### Arrays

The foundational data structure for Numpy is the array. Like lists, values within arrays are accessible by index, but the array has many more powerful features that make analysis much easier.

In [7]:
#Create some random numbers in Python
list_of_numbers1 = [random.randint(1,100) for _ in range(10)]
list_of_numbers2 = [random.randint(1,100) for _ in range(10)]
list_of_numbers3 = [random.randint(1,100) for _ in range(10)]

list_of_numbers1

[97, 47, 20, 66, 41, 10, 11, 25, 31, 70]

In [8]:
#Create some random numbers in Numpy
np_array_of_numbers1 = np.array(list_of_numbers1) #Casting a list as a new Numpy-specific data structure
np_array_of_numbers2 = np.array(list_of_numbers2) #Casting a list as a new Numpy-specific data structure
np_array_of_numbers3 = np.array(list_of_numbers3) #Casting a list as a new Numpy-specific data structure

np_array_of_numbers1

array([97, 47, 20, 66, 41, 10, 11, 25, 31, 70])

In [9]:
#Values can be accessed just like lists by index
np_array_of_numbers1[0]

97

In [10]:
#... or by range
np_array_of_numbers1[:5]

array([97, 47, 20, 66, 41])

In [12]:
#What you CAN do that's unique is access data by random indices
i_want_these_indices = [0,3,4,7]
np_array_of_numbers1[i_want_these_indices]

array([97, 66, 41, 25])

In [13]:
#This doesn't work for lists
list_of_numbers1[i_want_these_indices]

TypeError: list indices must be integers or slices, not list

##### Array Math

Let's add 5 to every number in the first list.

In [14]:
#Base Python
new_numbers = []
for i in list_of_numbers1:
    new_number = i + 5
    new_numbers.append(new_number)
print(list_of_numbers1)
print(new_numbers)

[97, 47, 20, 66, 41, 10, 11, 25, 31, 70]
[102, 52, 25, 71, 46, 15, 16, 30, 36, 75]

In [15]:
#Using Numpy
np_array_of_numbers1 + 5

array([102,  52,  25,  71,  46,  15,  16,  30,  36,  75])

What just happened here???

Numpy uses something called "broadcasting." This allows us to apply certain mathematical operations to each element in an array. We can do a lot more than this too! The more commonly used terminology for this is called **"vectorization."**

Let's multiply each number in list 1 by 5

In [16]:
#Base Python
python_nums = []
for i in list_of_numbers1:
    new_num = i * 5
    python_nums.append(new_num)
python_nums

[485, 235, 100, 330, 205, 50, 55, 125, 155, 350]

In [17]:
#Using Numpy
numpy_nums = np_array_of_numbers1 * 5
numpy_nums

array([485, 235, 100, 330, 205,  50,  55, 125, 155, 350])

Now let's add each element of list 1 and list 2 and then divide the sum by each value of list 3

In [18]:
#Example of first index
(list_of_numbers1[0] + list_of_numbers2[0]) / list_of_numbers3[0]

187.0

In [20]:
#Let's do it for all of the values now
#Base Python
python_nums = []
for i in range(len(list_of_numbers1)):
    new_num = (list_of_numbers1[i] + list_of_numbers2[i]) / list_of_numbers3[i]
    python_nums.append(new_num)
python_nums

[187.0,
 4.354838709677419,
 1.0689655172413792,
 20.666666666666668,
 3.608695652173913,
 0.28205128205128205,
 1.9245283018867925,
 3.3076923076923075,
 1.0317460317460319,
 3.75]

In [21]:
#Using Numpy
numpy_nums = (np_array_of_numbers1 + np_array_of_numbers2) / np_array_of_numbers3
numpy_nums

array([ 187.        ,    4.35483871,    1.06896552,   20.66666667,
          3.60869565,    0.28205128,    1.9245283 ,    3.30769231,
          1.03174603,    3.75      ])

When doing **element-wise** math using arrays, it is critical that you are doing this with arrays that are the same shape.

In [22]:
longer_array = np.array([random.randint(1,100) for _ in range(10)])
shorter_array = np.array([random.randint(1,100) for _ in range(5)])
longer_array / shorter_array #This doesn't work

ValueError: operands could not be broadcast together with shapes (10,) (5,)

Element-wise math can happen with almost standard mathematical operator (or combination of operators. In fact, you can even apply functions to arrays, as long as the operations being performed are mathematical in nature (and not logical).

In [23]:
#Basic arithmetic operations and numpy math functions
def math_output(x):
    a = x + 5
    b = a / 2
    c = b ** 3
    d = np.sqrt(c) #Numpy has several built-in math functions
    return d

In [24]:
math_output(7)

14.696938456699069

In [25]:
#In base Python
answers = []
for i in list_of_numbers1:
    answer = math_output(i)
    answers.append(answer)
answers

[364.21284985568536,
 132.5745073534124,
 44.194173824159222,
 211.51566135868049,
 110.30412503619254,
 20.539595906443729,
 22.627416997969522,
 58.094750193111253,
 76.367532368147138,
 229.63966338592294]

In [26]:
math_output(np_array_of_numbers1)

array([ 364.21284986,  132.57450735,   44.19417382,  211.51566136,
        110.30412504,   20.53959591,   22.627417  ,   58.09475019,
         76.36753237,  229.63966339])

That worked great! Even cleaner than list comprehensions!

Unfortunately, there are limitations. As mentioned above, control flow cannot be used for vectorization.

In [27]:
def logical_output(x):
    if x % 2 == 0:
        return 'even'
    elif x % 2 == 1:
        return 'odd'
    else:
        return 'something else'

In [28]:
logical_output(4)

'even'

In [29]:
answers = []
for i in list_of_numbers1:
    answer = logical_output(i)
    answers.append(answer)
answers

['odd', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'odd', 'odd', 'even']

In [30]:
logical_output(np_array_of_numbers1) #You cannot vectorize control flow

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

#### Numpy Filtering

Filters are arrays consisting of True and False values. You can obtain these by applying in-line logic comparisons.

In [31]:
np_array_of_numbers1

array([97, 47, 20, 66, 41, 10, 11, 25, 31, 70])

In [32]:
#Let's find the even numbers in our array
is_even = np_array_of_numbers1 % 2 == 0
is_even

array([False, False,  True,  True, False,  True, False, False, False,  True], dtype=bool)

Now, much like how indexing in an array returns a subset of values, we can use this filter to only return the values that are True.

In [33]:
np_array_of_evens1 = np_array_of_numbers1[is_even]

In [34]:
np_array_of_evens1

array([20, 66, 10, 70])

In [35]:
#Let's now find the numbers divisible by 3 in our array
divis_by_3_filter = np_array_of_numbers1 % 3 == 0
nums_divisible_by_3 = np_array_of_numbers1[divis_by_3_filter]
nums_divisible_by_3

array([66])

In [36]:
#We can also do this without creating a filter, but rather writing the logic within the brackets
np_array_of_numbers1[np_array_of_numbers1 % 3 == 0]

array([66])

Filtering will be an extremely important concept as we move forward.

We can also use these filters on other arrays of the same shape, assuming the indices of the array are all associated with the same entity (e.g. the same student for the example below).

Imagine we're on the school board and want to identify all of the honors students. We want to start by finding everyone with a GPA 3.7 or higher. When we did this previously, it required a complicated loop. Now, with Numpy, we can use simple filtering to identify those students.

In [37]:
import json
students = json.load(open('students.json', 'r'))
ids = np.array([i['student_id'] for i in students])
gpas = np.array([i['gpa'] for i in students])

In [38]:
#Let's find the students with GPAs over 3.7
high_gpa_filter = gpas >= 3.7
honor_ids = ids[high_gpa_filter]

print('There are {} students eligible for honor roll. They have the following IDs'.format(len(honor_ids)))
honor_ids

There are 2166 students eligible for honor roll. They have the following IDs

array(['6081f91d-365c-46ce-ad1b-38af120781d9',
       '84cec8f4-0b64-44ce-a628-c0eb73f6ca6f',
       '8dd7650e-55e0-416e-9f7e-44ead1dc08a2', ...,
       '32606dc2-862b-45cc-b0ac-f2b24253abdf',
       '3f1f6525-3ec0-4184-b435-c829419bf582',
       'bc551659-ba48-447e-aa6a-0c2f49aaa9c1'],
      dtype='<U36')

In [39]:
#If we wanted to know all of the students that were economics majors, we could create another filter
majors = np.array([i['major'] for i in students])
is_economics = majors == 'Economics'
is_economics

array([ True,  True, False, ..., False, False, False], dtype=bool)

In [40]:
economics_ids = ids[is_economics]
print('The following students are economics majors')
print(economics_ids)

The following students are economics majors
['5a397209-3782-4764-a285-10fae807ee71'
 'e26c3d69-3c74-49b6-81d7-47232787fad9'
 '1846c044-9a87-49e4-ad4f-d1bfadb4e41b' ...,
 '32606dc2-862b-45cc-b0ac-f2b24253abdf'
 '8dc612f4-8150-4045-9e2d-cf160fb71da4'
 'bc551659-ba48-447e-aa6a-0c2f49aaa9c1']

##### Limits on usage of arrays
There is one significant difference between arrays and lists where arrays are not as useful as lists, and that is in its ability to hold different variable types.

In [41]:
mixed_list = ['3', 1, 2.0]
mixed_list

['3', 1, 2.0]

In [42]:
mixed_array = np.array(mixed_list) #No error, but be wary of what you wish for

In [43]:
mixed_array

array(['3', '1', '2.0'],
      dtype='<U3')

In this case, Numpy is "helping" you by auto-casting all of the variable into a common data type. Unfortunately, this is not always something you want and you have to be mindful of when it happens.

##### Numpy built-in array methods

In [44]:
gpas.mean() #Compute the arithmetic mean

3.3765260000000001

In [45]:
gpas.max() #Find the maximum value

4.0

In [46]:
gpas.min() #Find the minimum value

1.72

In [47]:
gpas.std() #Find the standard deviation

0.37002301458693077

In [48]:
gpas.argmax() #Find the FIRST index where the max value occurs

4

In [49]:
#Alternatively, you can do this to find all of the IDs with a max value
max_gpa = gpas.max()
max_gpa_ids = ids[gpas == max_gpa]
max_gpa_ids

array(['84cec8f4-0b64-44ce-a628-c0eb73f6ca6f',
       '1418830a-ca98-4b96-96c4-2b06a51ea306',
       'e0d1dcc2-d48d-481e-ac3d-2a3cacf11787',
       'd3170950-f20b-4121-bd44-2d0595dd46c1',
       '2900cea4-e471-4cb1-9c81-0248b3d7c6e7',
       '634c6900-4a15-495e-93f2-a46296706be8',
       '5aa1f9cd-1313-4443-abce-e74df66ae16a',
       '05cebb19-39bc-47d1-9ce8-95b5b3a82f9a',
       '3c468120-f16a-4aa0-87a7-62c7678d1016',
       '13a5fabf-787b-4f40-8609-08366ebae350',
       'cd424190-fc3b-45e0-a439-c0171bc12634',
       'c7bdcbce-737c-4a10-b040-380feddd9bb6',
       '2cea7bd0-5730-4046-b8bd-5b867a9a81ca',
       '177d8fcb-363b-42bb-9823-0aa657f4e201',
       'e0184616-f3be-4028-b2cf-a7a47e8e175e',
       '59ddb994-4270-4a6a-9a59-05157e95ab9c',
       'dc5987a2-ab7a-4030-9180-83058c2a01ce',
       '0908951a-47c9-428c-92f5-5bb78ab8dfe5',
       '75fb1c66-2d88-4b3a-885c-f00925271e03',
       '78008297-6fdf-40a5-93eb-f7783d14e41d',
       'f404b1e1-0e62-47a6-88b2-eed3478badac',
       '1d89f30e-7a49-4243-bc54-4b9caf18a238',
       'f4991a73-dd59-4ac6-ad7b-ab1cb9949f49',
       '1fb6edad-a5d2-4808-9f65-cf0f7da2167a',
       '82ac9143-7f27-437d-b02a-984735c24198',
       '511c2979-f3d5-428b-80cf-9dbe12967dda',
       '3036fcbb-561d-4ca7-bcf1-16ed3f2de79d',
       '68424f6c-ffab-424f-b308-30a6e6a641e7',
       '26173abc-254d-4026-aef2-4edfcd2cc1f1',
       'b0b67a57-35b4-4c83-b4a4-de7baf94ae6d',
       '89de3e86-8a37-42ab-8ef5-8e702bcd050a',
       'df631eff-6f3a-4cc6-afdb-52df5f1fa0e2',
       '05745d8d-163d-4e22-b1b9-0c092905e9b8',
       'cdb85f7f-4322-4290-97c7-8b2437b57c48',
       '8c988d5f-59f6-4f4f-9cb6-5f682c95c0f1',
       '6d54d7c1-3ec8-440b-b5cc-58461656c009',
       'f82881c7-37ac-432f-b3ee-a032e2ece2cd',
       '4ef85dc6-6c78-4961-be4a-44e24b1cd0a6',
       '84720929-1441-4749-bc48-e607d81548e7',
       'd2ac8132-9951-4c6b-8187-5240d6e41cb9',
       'e81b8544-5a80-44de-b10e-c783ca559094',
       '86a3faff-dbe5-4af1-bbec-96781a4c4e6b',
       'cfe03647-b794-446e-b2f7-b96715a54c8d',
       '3b14c8d9-9020-4adc-8965-960477352eff',
       '617a6026-b86b-49bc-b9a4-efc4a6432a8b',
       'a434eeb3-613c-4844-9da7-776136adb7b7',
       '1ec42604-ac8f-4fc4-8937-d26390b52561',
       'c4dc0064-2ebb-4a36-991e-f000b04cb7b3',
       '57596f75-47f6-4464-aa31-2ea82548951e',
       '8eca7dad-54ae-415f-9423-38b9a6c14464',
       '100010cf-1fcd-4558-8c00-f40fb66a1c4f',
       'c61a78d0-95d3-4a70-b9ad-5de56273483b',
       'e9ace713-675f-4197-8e91-893347cf4fc8',
       'd0204226-2af3-47ef-8716-61139b58f309',
       'e009ccdf-809a-4d12-928f-72d37a9c30d9',
       'd4bc98ff-c9da-45b9-8e4a-cdd374443756',
       '67a365cd-de52-4c48-a253-112084579780',
       '2e853090-2973-4ba4-a003-cd631e5e2da4',
       '755bf06f-d985-482b-9551-be861c1d9d8e',
       '181c61db-d1a9-4a63-b93a-844c25f2371e',
       '5b793cc1-9d8f-4d90-8c69-c3c564ba7db2',
       '8a8cf9d3-91f3-4659-ba14-ec9a8105807c',
       '1b4a6252-bccc-4df8-8207-0fe8a054cafb',
       'b0753a32-7973-434a-9600-472f838a2e49',
       'baa2901d-a51c-4a3f-b7a5-8d21b8ef1962',
       'b0f85374-3283-42eb-a6ff-4e0e26b7230a',
       '57ba0363-1219-4b44-bcc8-6d1c69204b4d',
       '436568b5-2ebf-46df-996b-f1a3d11dc952',
       '38dd5e2b-bd54-4f71-9d47-9ac156fc53d1',
       '93074224-5fec-42ae-b273-057c48d4540e',
       '3edbb1b0-2e36-4b4d-9725-4e77ca1d76e4',
       '458a5ae3-4069-4f0d-8169-777bbd558e79',
       '430950db-4e1c-4554-92b5-935e1fbbf2bf',
       '6d640158-279c-4776-82f8-9bedffb70fe0',
       'cf1db0af-0af5-42a5-b8b6-d69753885e4d',
       '04b21e79-6002-43f3-bd23-4c2dd5b642fe',
       'df91d4b1-5e09-4eaf-b48f-74b4722e3843',
       '16bee267-dcd3-4863-b02d-cc71e0b2f69c',
       '90c2849b-ac8a-425a-bb8e-d5c833a2ec34',
       '09602da3-5198-4f62-803c-5c010ce847ff',
       '1fcd2c90-b23c-4651-b0e4-1686eef3e817',
       'bae275cb-67b1-402a-9b8e-dddb08a0c7e0',
       '23ee7b8c-db78-4576-8059-429e5e970d48',
       'e336960c-e250-499a-baa7-18ca67657967',
       '2ac106e5-cebe-48d4-93c6-bc0ad37da6af',
       '80c93ae8-5dab-451e-a76e-af8f2178e6de',
       'e02e5f1f-de1e-4aea-b8cc-9482a847fab4',
       'dc687411-0d8b-4765-ad4a-5ed5021684c8',
       'da5ebf81-7bee-4995-8137-c56ab6221af5',
       '66e854f4-4c89-48c0-9f78-d59ee9925b55',
       'c66bca9c-8f6e-4a20-8463-01f0caba2a35',
       '1a282e3f-879e-4bc1-aa57-4d7a26e783e9',
       'e08c860a-4e60-4509-a640-14bb6f57135f',
       '5e195d76-0d73-4633-8b39-7456b491f6bd',
       '2c7efdb0-b995-4a29-baad-d72d2e53268b',
       'd1e22e20-1593-49db-8176-04f2c86502c4',
       '5d99da2f-f657-459d-8051-f378126d6c85',
       '38d41df6-fdc0-49b1-9d0f-c52b215dcdf4',
       '2ed51f85-a082-4441-8fed-3f7c0dace986',
       'efae9886-ce24-42bc-b761-9f1283ffcb85',
       'ec788bc3-9bb3-4e46-ae1e-231c2f98e1a0',
       'b6ec6a84-f614-46f3-950b-71a3ab694775',
       '207e1d9c-3b42-4a54-9b26-bcd6d46da51e',
       '977c9cac-ed2c-47c9-9458-21b2c4fa9300',
       '89488cd7-c39c-49a9-9c50-4cfa8319ca29',
       '32d32cc3-a02f-45bf-80fb-6407f1a84780',
       '2ba2b960-76ff-48ae-87d4-df69453013e1',
       '32fb3ac7-0baf-4c17-9c99-0c87a130fb65',
       'bf4b175e-31c5-4101-92a6-4c088642d05d',
       '0b7a6251-69bc-4d4f-8a06-56f764807a23',
       '02729256-3eb3-46dd-8dc1-fd5fcb07d842',
       'a9058359-02fd-4093-bac6-eff9650169f4',
       'f0a56170-52d8-44c4-a83e-151e80ac9a67',
       'a98c52e5-6250-43d8-ace6-e25e9720f7ec',
       'd6afe420-5e15-4f1c-b299-66df3ea063e7',
       'f3850fef-bd4d-4c26-abe8-ba921d0ca5b7',
       'ca588281-ec7d-4154-8585-6b9b59e7d43c',
       'b947fc6e-9d84-4076-9da8-20f76459d735',
       '8fb248d8-d20a-4725-ba10-35485a8220d6',
       'e16aed23-af8d-4030-add7-96f277e5eebe',
       'baa0568d-5dc7-416b-a192-48fc81fc250d',
       'b9e2f4a1-632c-41ff-bd82-a90ff5bdef38',
       'ede9ca1c-c965-4fb2-aefa-35b68872c2c9',
       '8ca52ece-4211-4542-8aed-711e5f4cd08d',
       '7c2331da-94ec-4056-ba4d-202deb757fb1',
       'dfeb00f0-419c-4fa5-a2e9-e5558c3aac10',
       'f584635b-a3f5-42f6-8c66-fd3e67b8bc54',
       'd3aeba4d-723f-45cb-b0e4-4d9e0d1e6738',
       '8d739b68-4c72-49a7-b816-dada8e5c4f0f',
       '6d9f065d-dbe7-45df-908e-5bf01f74c2eb',
       '109cec34-4f08-43b7-a704-63954194e182',
       '79003b63-7463-4e32-ad4e-7938ce25065a',
       'eafa37d7-4f27-46bb-98f9-ea71ed3b0b42',
       '8c594054-1065-4e41-92c4-20b31f1c1da6',
       'aa54b6f0-23b2-4277-bd06-c509089d252d',
       'bc8b52cc-7763-4744-899b-bff6f9e0e3a4',
       '216d4e41-1ec8-4aca-8db1-e67c595bf216',
       'cff25690-a71e-479a-8309-89c9e3c4f298',
       'f554b635-619e-4048-8227-993a1ee2731e',
       'a66a3719-3fb8-4fc9-9c6a-a24cb3bd09ad',
       '6b087248-bcce-4d83-835b-042271a37bc3',
       '9fbaf476-bff4-4617-a42b-0581f7196c5d',
       '3068332a-0164-4468-94a4-57c1a0278198',
       '931b3769-187c-4867-bdf5-2f60547b75ea',
       '495cf388-9d8f-43cd-a6e6-1ffcd0b728ab',
       'd87bc775-b9ac-472c-870b-c6aa3ae825e8',
       '7fff5d89-667d-4433-a602-d4408abed9b1',
       '79f9e3ec-ce20-4447-9cd5-64ca56cc2e4e',
       'def408fe-cf2e-4ecc-a129-b27edc616217',
       '99487f21-1a68-4d26-8959-0421874da8a5',
       '892c6dfc-a986-41d6-bdf8-a31ce80f5ece',
       '00f8a2a0-953a-4cca-8a20-370beef6256a',
       '51ddd93e-9711-42f9-894d-40b88d6db7cd',
       '1ee0fe81-2ca9-4587-961c-cf97511cff82',
       '45cb9b45-f643-4057-bd9e-bdd0a242c33f',
       'cd30d068-abb9-41d5-bc87-5b2679536e22',
       '610a5a9e-1b40-462c-a650-7ae9d7b1bb66',
       '71ec3101-3381-4e56-8934-78677ff8b428',
       'b5ff64e4-2e05-4845-8ea4-07cf5124daed',
       'c6560dea-0b98-4f06-b0cd-e7ec6cbb1170',
       '6efed9fe-ac14-4fe5-8375-077fbc73b451',
       'eb9f2b23-338d-45df-9789-04ab1c410d8b',
       '326bcea7-dd92-456e-abce-04bfb356d9b8',
       '800be2a0-6032-4bd8-8cf6-639ae047a02b',
       '8f56f6a7-59be-4728-b2f7-1995ba691e10',
       'b5f0c67b-ded0-4a78-af1c-9ceee0a9a59e',
       '2bcc59ab-3e9b-4fb9-8137-62f022eaead3',
       '6d48d500-880b-4636-8566-e3872676ce8e',
       '5467082b-79ec-4824-8794-cea80020274f',
       '16b643bd-2f5c-4a7c-8fa9-dfd051e216fc',
       '2301dcc2-0906-4af3-b596-93e1ba18659b',
       '108f72ce-87d8-4a07-8176-31afceec0c15',
       '9b4a47be-245f-4195-82fb-495ed4e5918c',
       'f9f8ef56-dc6a-4e09-b974-f4640412983b',
       '88a37598-255f-4f94-b9d6-301b9e33ac23',
       'b349765b-2f73-4286-b14a-945d21cd7cfd',
       'ad4cb279-f14a-48e6-90f1-230d911e1b68',
       '9ea7fe26-9b5e-4720-ad99-442d4bcb0eb6',
       '28119145-4191-4157-b355-5424499933d0',
       '2f26e75a-f8d3-4a90-9fdd-106ef8644d77',
       'bb4ddb9e-9887-4e19-bf6c-f134eab9d8ce',
       '85432fd8-5fdf-407b-8d0a-f4fd1f5c70cc',
       '3557fed0-33a5-43d9-983e-eb2f270e041a',
       '30dd42e8-8ceb-47f8-b637-29db145c683f',
       '7e797467-a6fc-4fc5-b9cd-17c5075765e5',
       '00c71e2d-7db8-41c9-bc03-06819e32b91b',
       '6190d385-51b6-426a-b191-b5ce71eb01bc',
       '48600868-362e-4e73-b3f0-7fdcb5438f4f',
       'a890d8b1-81e3-41a2-a222-06823dfb865c',
       'f60ca1bd-f92a-4c09-8a52-2ccd81570d97',
       'ca7687ad-9aa6-4b76-a4d0-07c07af4a792',
       '7f903ef2-052a-44ae-864e-fef8d36d239a',
       '2409782c-12fc-47cd-8e1e-7b28164ab3f8',
       'd7f9ba5b-56da-4971-895f-b8e2bb337cf6',
       'd1c724b6-e201-4085-8a54-e8428fe34d5d',
       '766b830f-1850-4fcb-85d3-161b9994f19e',
       'b7d0eb7c-9781-4a7b-aa46-e9f1fc6aa73b',
       '590c1b2e-b87d-40aa-be86-34431743331a',
       'a92f5fe4-b646-432c-ab12-2683f8f64b12',
       '693cd228-ac6b-4d38-8a0c-eea00454ad5f',
       '1a18d78a-d5cd-49e1-97a6-94ddea72c691',
       '75fe4d33-d1c8-4b1d-8ebf-ff79b6111193',
       '03e102ae-dd2c-4146-8b6e-b54b9d1c7e5b',
       '2603848e-ebf3-4815-ac24-0866f45c816e',
       'fcbd78d5-271f-4ff6-9635-7115c7b1ae0b',
       '5e3cf78c-0a23-4475-ae07-009fedde432b',
       'a2df1c1f-d986-452d-b5f8-1b962d1fdcd0',
       '7c1f8508-1ac8-4c58-9a7a-5e4cb4df0d8b',
       'ec6d3b74-0bf4-4cce-bd2c-3366a28c429e',
       '25ec740f-acb9-4650-897b-7628d7aa5310',
       'f655d993-8146-4426-b1dc-5bc94b60b4a2',
       'd5c109d8-24d7-4222-b1dc-f0d49692da99',
       '18952229-eae2-4083-b75f-8f63f5502432',
       'db2e2279-2e53-41b6-aa03-9e1cf1053ced',
       'a51f04e7-2fdd-47cb-89b0-1bd742817f5e',
       '3768f942-a0f5-418d-b763-c44a05b4eff0',
       '46c81f22-1939-44c2-9ee9-bff336ee618d',
       'cdbd6d76-fc6a-44e2-8b34-6cad7f5f12e9',
       '7500b509-60bb-413c-b97b-b95986c62f1e',
       'af10e980-37eb-4650-87ca-5f688d4bf7d5',
       'a6dee6a4-2b4a-406e-9c2c-4608cc86c877',
       '864e3fcd-d1a5-4d5e-a389-d0c1a54ac1e5',
       '00170884-93bb-47c2-a43f-8257c7c88926',
       'addf42b4-f61f-4d59-9fae-a27c588ea843',
       'a2788a28-3ebb-4f25-b4e5-f8a4ea000584',
       'd658a236-966a-421b-a06d-50100d1e4d7d',
       'e314ff4e-f3ac-4807-8674-96fb9581b6dd',
       'fb859d84-cc64-4233-818d-4db625c6e765',
       '8976444e-8486-4b0d-8790-4f47f5465a0d',
       '630d52cd-82c8-4c79-ae54-5ed548663f9f',
       '8fa02d26-784b-436f-8f38-4931d162d9b6',
       'ecb5e4e1-d376-40e2-b8a3-bd38c9ec3ea8',
       '38a5e7ab-1b08-4901-a737-2bd85d2e3485',
       'd8f71ff2-c834-44a0-9c69-5cc548c6c975',
       '74d49e88-f8af-4238-a1a1-72d4b9688094',
       '4b7d6666-fdd7-4104-9b5f-e11d47385178',
       'd70d64b1-c16c-4794-a019-63516d5a046a',
       '85149c46-930a-493e-8ddd-c283f4c9ac75',
       '7193b598-2402-4c76-b90b-0cf436c49334',
       '782aa5bd-1c5f-47fd-aa51-348003b78e42',
       '481990dc-8182-4383-b9ee-a58443127782',
       '6792b2f2-ff98-48b9-b8a8-e7553f68a0ae',
       'd9baa5f9-dfae-4fe3-beb9-b766ad47095e',
       '5a0ed81b-2b10-4ef5-a7d1-570cc3377bd7',
       '6fed3d12-8043-41fc-8d7e-6a3741a85624',
       'b1b398f9-c086-4b35-af31-0e45f9e77712',
       '1ae0b320-8079-4e87-b357-1456c481d2ef',
       'da486d1c-d2df-4ac7-841c-04212af8acc4',
       '21a91efe-c6c3-42c7-b26a-f03de70805ed',
       'cf40d187-5de9-4bdd-baac-662f87db0c05',
       '9a384e41-dccd-4ace-8461-3421a3cf2244',
       '233c2007-5d33-49cc-96f3-446bc461304e',
       '6f871d2a-03fa-4db1-b39b-aae99fbd73ac',
       'ad4d9814-448c-4aba-bc5d-5f40a488d212',
       '07c5ba22-5c9c-456a-801b-574b560132d0',
       'c715cd6c-b229-4f7c-b3dd-0ac4332d38dc',
       'f33bea8d-8a12-4bb9-a679-0ebe02ff6200',
       '2e0c4d2b-07c4-473a-a188-b68cb501b8f8',
       'c3804534-d324-4670-86e1-581b9936eba1',
       'a6a8ad96-ea93-4bd4-a983-bc81530c6e37',
       'd05697cc-9345-4dfd-af6f-86a3f7586545',
       'b1195152-eba4-4bf5-aa40-8d3f8540c426',
       '3b632b69-94e0-4abd-8ba0-1652c1bf7230',
       'e01d17cd-4782-4b11-b525-c53a459ca2a8',
       '81883a7c-3e0d-41f6-bff2-d036c1edb1c9',
       'a1708c2b-d001-498c-a176-932f71f518d8',
       '000b22b0-47f4-4404-b701-3167dba1cccd',
       '5349c2fd-005a-4db1-8b17-57bd47e86d34',
       '99807c16-aa6d-45ff-a36c-2b56bad706c1',
       '1e35a240-971d-429a-988b-56c5d0150d72',
       '89dfc8da-c9b8-4cb3-9b45-7a8a249058fb',
       'f1c6919e-c10d-4e21-976e-254e49b36c28',
       '02e49952-a98e-492c-b5ae-c78feef8c9fe',
       '3f0ed053-a80e-4c7a-82b6-4e84ad0ffc32',
       '5f50a017-7237-4f5f-8081-64adfb025cb0',
       '05021b57-b6b3-4d02-94f0-5ba5fdd7636f',
       'a3fc6118-b9c6-465c-9f6e-21e3ab2797fb',
       'b03d07f2-d701-44b9-9d91-7f13d9d645db',
       'bf2aaf2d-230e-4d60-a8be-08314642b72f',
       '361c0e6b-29dd-49cc-bb0c-cbcee66e391e',
       '9f7df9c4-a994-4e18-b02b-52fb63fa1c30',
       '7d37f1a0-f749-4bf0-9b82-7ff19aee7537',
       '0b0f3cd0-d61b-454e-9a2f-715c1126d461',
       '354ef101-5f01-4181-a5a4-0e9afa092cbc',
       'a793a7da-9f2f-49f5-90f5-06166dfb3694',
       '0014e16a-952c-4c9a-ac8d-b7e62113d440',
       'ad253df4-72bf-4496-b304-adb138dd85a3',
       'ab4451f9-d462-4b51-94a1-d557be52b418',
       '29d9bb3f-917b-4d7c-a803-6336f5390e6c',
       '41dd724e-743e-48ee-b2c4-ec6ccf52d201',
       'e26674ca-09ff-4246-8524-e53045afac34',
       '827621a9-1da6-4926-aa55-90ceb04272e5',
       '108992e4-8f44-400c-a01c-63d530478605',
       '8c40784f-50e6-48af-b7fc-e62f3a06bcad',
       '23991051-060d-4fdf-a703-c12cf259ac00',
       'd1fefed3-e14f-4976-8d99-d8c89b1698ba',
       'b38a856a-355f-4f1f-969f-c1fbd241ea89',
       '8cb262f7-8042-4491-b8f9-de6442380e4c',
       '69f98187-e5fa-4cc7-89ee-40269c1e61fc',
       '46b707b1-fbc2-4d17-ac45-fb21d296a610',
       'aa6056af-dc6c-4755-9591-384340420ac3',
       '7e94255d-e329-45b7-90ae-9c4219168f85',
       '22bdca92-5076-43cf-89fc-99c563254273',
       'a6075994-00aa-4978-ad4d-3955fd88e73d',
       'c1f14725-fa2f-49ce-9a91-7ca5a14568f4',
       '03fd4fde-c6a0-408e-91e4-e6761db2ab82',
       '9e01fe23-d6b7-485e-84ab-94a84c21ac76',
       '83b362c9-c67a-4245-96eb-d196596515f3',
       'fcad9730-fcd6-4f14-a6be-e4af5058cc42',
       '55de48d8-efdb-48e2-b482-98cf997330bd',
       '7dafb99e-4c29-4bfc-90b8-d05001f4919d',
       'cc92a97e-d458-4e90-bb44-91a37689d0f1',
       'e7717e32-3094-45bb-8524-608d90fa1866',
       'fabb61a8-f41a-456d-8bba-e934fa5a964f',
       '7567b21a-adc7-45de-aa3f-79b897b3fa10',
       '696fab52-b619-46cb-b9af-2ef49fb297e8',
       '3c4c268a-87e3-4863-bcf0-2c5ba7e0c746',
       '470495dc-f76d-4aff-8471-9b52c2aac7a7',
       '733cd7c1-4e98-4556-bc87-ac95ab45a515',
       '886417c7-565a-4569-9261-4b39652b5161',
       'f0bd4a6b-5ce8-441c-a535-ff163539db54',
       '5f446a90-1274-49ad-a4f0-f8fdde0015f2',
       '0ab1c254-3b6c-4f3d-8d12-62e1c67a63dc',
       '21dbcfa5-376a-4bb4-acaf-1c3dc84ef81d',
       '98c8e561-0d1d-4144-9905-979019bfc087',
       'fdee9f6f-1c4c-4fbf-97ba-3fe5d4ebd3a4',
       '17ebb523-f7ec-4a18-8c7a-1c49587c7b1e',
       '4391ee18-b72c-4158-83b4-62ddd9142ddc',
       '3b3014ea-2d40-425e-b10c-ffcc5d00b6ac',
       '6db3572e-4809-49f6-ad71-6f78dc5779e4',
       '3d942a1c-d9b2-403c-8163-cd10392f7e84',
       '052122fe-2a67-425e-a85d-0f74e4d0eec4',
       '88d87a2c-7435-4679-b0de-a97747f2fad1',
       'b6516a2a-b702-4974-a439-059696f90d65',
       '1ec7298a-b238-48ce-8663-09b78ad5da75',
       'e4f8e71f-618a-4892-be79-746f10be96e3',
       'e7b13abd-a84a-486c-b34b-3c96a2956b58',
       '6457d7f5-fcc5-4110-8157-32489196d823',
       '68a51924-3692-4d14-a53e-55d82d5c3038',
       'dde25402-54c3-4ecb-8ebd-f71e3a417728',
       'fa080995-901d-4e3d-ac6a-3dc021918e86',
       'b9c7a794-7a07-43aa-b319-0a5a40f24d0c',
       '9d6043af-70eb-4881-a593-0b642268a367',
       'a81e74aa-4858-4558-a43f-7eab6dc7d9b1',
       'b12d33d2-e905-498e-a428-a98f0ca22308',
       '7874f604-be86-4c10-8aeb-778fc4fa60ca',
       '476b1f72-3827-47a1-bbd9-1ad8afa4992e',
       '98a1d2b0-b02e-4490-9364-970a311f6d7d',
       'a3cf7ba5-629d-4d6a-a42b-f2a37ef75823',
       '8159c572-adbc-42a9-a948-1b7e93c697b8',
       '8e995d18-16b4-4659-8c8b-602f94df1091',
       '10099ef5-b7aa-47ab-9c5b-c07909213648',
       '56f6e3f6-a643-425e-9711-989c31d6157a',
       '7b049536-ec77-4a56-8479-b91bc2d4c351',
       'a010011b-568f-4798-940d-f9ffc4f09bac',
       '0ae717a4-cd79-4221-8f8e-405a0e89fb24',
       'dd48702e-1604-4221-bbbe-d80bc9ebb172',
       '24fb0359-612e-4166-9e55-cc110895ccac',
       'd497d82e-afc6-48db-a545-c1d810d02ff8',
       '7f046e13-c550-4d07-b402-073956e053d3',
       '2b13ce4b-8ed2-4879-803f-a7c75bb6879f',
       '55e2217b-6868-4a5f-acec-b56ef9b0a195',
       '13dd60ab-a5df-4984-a635-721da7e91e72',
       'b60b0c17-7129-4362-b6e6-ee2babe4a229',
       'b884778c-4dd7-43ef-9330-e2bd458903e0',
       '98f39ad1-b3ae-48a4-8e5c-1d46a581bf8c',
       'fd85e783-6132-4092-a4a7-3f39b5ed9676',
       '0e4b3f4c-01b2-489e-abb9-34d34e37abef',
       'd2015a82-c103-495e-bb03-ff61615b1bd4',
       'ebb03b40-751f-42d8-aad6-bc940738a774',
       '19015146-f407-45b4-ae98-29fc76c36b65',
       'edaec4ab-a50b-407a-9018-b9dbc065324b',
       '98f92f24-733b-4896-877a-5994b4ef9887',
       '1b663979-c646-4122-9924-252d8be6f676',
       '92717212-ed4b-47d8-b164-ca64432a9123',
       'cb48eb61-e261-48b7-bdb6-c173c0082753',
       'c8a1de6c-1987-4851-83a3-e936f59c2b51',
       '9260d49b-2cd5-458d-8bc0-abb2d5180cb9',
       '5b06307f-92fa-4138-9f53-7bcf2d6de655',
       '8c36ac9c-bc0a-4ca3-bb18-35d25551959a',
       '82f40ab3-4aba-426e-8d74-d454779c5a12',
       '3e6dca93-8728-48f1-9076-7d8b71852a1c',
       'a7bd9455-4791-42b9-ba3e-442ce3d8f840',
       '695124a6-ca1d-4110-ac37-fd324ab67f0c',
       '1bc51673-f679-41b7-91da-9bfe3b93dc70',
       'e6b62163-fdd8-4b0e-a526-eb631aae93e2',
       'f999a7ab-902e-467e-8d44-b433d8e804cf',
       '4c3519d0-d2bc-41c5-9a5f-7e22875797f3',
       '0d414771-e0bc-4642-a5cb-dc1d3b3204d0',
       '224bc713-2cb3-4e00-a26e-569f3cbd8e8d',
       '500459ed-ac68-47d9-852c-68508bbfdc4a',
       '41446cdf-1f2f-4127-87a6-665c0cdf07ed',
       '4faf328c-a232-4f04-b5c2-26e49418da55',
       '42af1bff-8c9c-40b2-b8df-4ecddae2088e',
       'b058ee64-1a08-4bfe-abd6-6e35b40cf230',
       '4739cde3-84e3-4392-af7c-49396a7b471d',
       'bb6c62b5-4073-4925-b11a-63e19b82bdc5',
       '5de296a4-2204-4548-947f-ecd63530d575',
       '5df0c169-a8e0-43b7-875b-2da755fbe53b',
       'c960c517-05b1-42b5-87aa-f659188bdf71',
       '89ee2e5b-96be-44e9-a2dc-e8c6169a87cb',
       '884417eb-5bca-4205-9b50-575124c35006',
       '6a54ada8-b1fc-481d-aad4-db3aaf5f0d8a',
       '7f1a6f49-536e-48e7-811e-ee58c39b57e1',
       'c09eddc5-6d91-455b-861b-5a0cb42b27a9',
       '42203d8f-f589-4184-83c4-6c49fbbd7168',
       '24c0965a-cbfe-401b-8e7c-f50fe467d633',
       '21869e74-2465-403c-85c3-74fdfb1e82d8',
       '66614cd3-0282-4853-82b4-6cda958a0653',
       '13961e1e-80e2-419e-a3e5-66c4d9e47914',
       '969c3504-a011-4d91-a6d7-c07697ca91cf',
       '3def1aeb-4089-4812-ab03-d537304c3d3c',
       '6f635f14-d001-44e2-b2f0-d24450619bd1',
       '3c250164-4a34-47ee-919d-6a8a294d3604',
       '66961560-0adf-45f9-b84d-74325f8b0b42',
       '2f08b0bc-73b9-4adb-8ffd-8702b5a6bfc0',
       'b2780238-9427-457c-87e8-5d7877574284',
       '58fbc13c-a524-4e95-8238-97113478022c',
       'cb7cb063-43c0-4242-84cf-83037c3592b3',
       'b6e89bdf-f1b7-4458-87c0-4d520ca65302',
       'ab6a98ee-551b-4bbd-be06-ca3cd0376900',
       'b84217ba-bc3e-4ed0-8f69-a705a989f07a',
       'a4a524bd-a6f9-4761-a470-c2d136331ad0',
       'a65bd33b-0262-442b-9bb5-1d1216b02947',
       '42bff6fb-a1f7-4aa4-ae7e-ecffeee70eae',

What percent of students have a 4.0?

There are two ways.

In [50]:
len(max_gpa_ids) / len(students)

0.0654

In [51]:
(gpas == max_gpa).mean() #True's can be autocast as 1.0 and False's can be autocast as 0.0

0.0654

In [53]:
#Let's take the majors numpy array from earlier to create a filter, then compute the percent that are True
#Here we are trying to compute the percentage of all students that are in a particular major
for major in set(majors):
    print(major, (majors == major).mean())

Economics 0.1973
Physics 0.1515
Math 0.073
Engineering 0.2034
Chemistry 0.1507
Finance 0.2241

##### Numpy built-in scientific helper Objects

Numpy has several built-in Objects that help with your analyses. There are WAY too many to cover, but here are a few that you may find yourself using.

##### Native Math functions

In [54]:
#Square root
np.sqrt(25)

5.0

In [55]:
#Base e logarithm
np.log(20)

2.9957322735539909

In [56]:
#Base 10 logarithm
np.log10(20)

1.3010299956639813

In [57]:
#Base n logarithm
n = 10
np.log(20) / np.log(n)

1.301029995663981

In [60]:
#Let's a list of the squares for the first 9 positive integers
#Below we are creating a list comprehension of the squares
squares_list = [i**2 for i in range(1,10)]
squares = np.array(squares_list)
squares

array([ 1,  4,  9, 16, 25, 36, 49, 64, 81])

In [63]:
#Numpy has a function similar to Base Python for creating a range of numbers - it's called "arange"
first_nine = np.arange(1,10)
#Now we can apply the square without a for-loop by using vectorization
squares = first_nine ** 2

In [64]:
#As we showed before, we can vectorize mathematical operations
np.sqrt(squares)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.])

In [65]:
np.log(squares)

array([ 0.        ,  1.38629436,  2.19722458,  2.77258872,  3.21887582,
        3.58351894,  3.8918203 ,  4.15888308,  4.39444915])

##### Random Number Generator and Sampler

Numpy also has tremendous random number generator capabilities.

In [66]:
#Create an array of 10 random integers that are between 1 and 100 (inclusive)
np.random.randint(1,100,size=10)

array([39,  8, 23, 15, 70, 64, 65, 51, 79, 51])

In [67]:
#Create an array of 10 random float values between 0 and 1 (inclusive)
np.random.random(size=10)

array([ 0.71241263,  0.15653471,  0.77155511,  0.77545275,  0.28476708,
        0.8201949 ,  0.97477733,  0.8480717 ,  0.51428949,  0.12137832])

In [68]:
#We cannot directly create an array of random float values between 0 and 10, but we can use vectorization easily
np.random.random(size=10) * 10

array([ 6.44957505,  8.22368032,  2.168686  ,  6.44282975,  4.01168933,
        7.98599846,  2.10576607,  0.71877618,  2.10998938,  9.86781957])

In [69]:
#Create an array of 10 random float values pulled from a normal distribution of mean 1 and stdev of 0.5
np.random.normal(1,.5, size=10)

array([ 1.38937493,  1.53491008,  0.47200742,  0.83805383,  1.79577735,
        0.93510326,  1.69620974,  1.61419592,  1.00023177,  0.54385163])

In [71]:
#As stated above, we can create an array of numbers between some min value and some max value
lots_of_numbers = np.arange(1,10000) #Equivalent of native range() function
lots_of_numbers[:20]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [72]:
#We can pull a random sample from an array (or list)
#Here we are taking 10 random numbers from our array of numbers between 0 and 9999
random_sample = np.random.choice(lots_of_numbers, size=10)
random_sample

array([8495,  416, 6657,  690, 1702, 4639, 6129, 2780, 3773, 3095])

In [86]:
#Here we are randomly choosing 1000 random majors amongst Economics, Physics, and Math with a defined distribution
#Given the probabilies defined, the expected count for the majors is 200 Economics, 500 Physics, and 300 Math
majors = ['Economics', 'Physics', 'Math']
lots_of_majors = np.random.choice(majors, p=[.2,.5,.3], size=1000)
lots_of_majors

array(['Physics', 'Math', 'Physics', 'Physics', 'Math', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Economics',
       'Economics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Math', 'Physics', 'Economics', 'Physics',
       'Math', 'Physics', 'Physics', 'Physics', 'Math', 'Math',
       'Economics', 'Physics', 'Physics', 'Economics', 'Physics',
       'Physics', 'Economics', 'Physics', 'Math', 'Physics', 'Math',
       'Economics', 'Economics', 'Math', 'Physics', 'Math', 'Physics',
       'Physics', 'Physics', 'Economics', 'Math', 'Economics', 'Economics',
       'Physics', 'Physics', 'Physics', 'Economics', 'Physics', 'Physics',
       'Economics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Math', 'Economics', 'Physics', 'Math',
       'Physics', 'Math', 'Physics', 'Economics', 'Physics', 'Physics',
       'Math', 'Physics', 'Economics', 'Physics', 'Math', 'Math',
       'Physics', 'Economics', 'Physics', 'Economics', 'Economics',
       'Economics', 'Physics', 'Math', 'Economics', 'Physics', 'Physics',
       'Math', 'Physics', 'Economics', 'Math', 'Math', 'Economics', 'Math',
       'Physics', 'Math', 'Physics', 'Economics', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Physics', 'Economics',
       'Economics', 'Economics', 'Math', 'Math', 'Math', 'Economics',
       'Physics', 'Physics', 'Economics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Math', 'Math', 'Physics', 'Math', 'Physics',
       'Physics', 'Math', 'Physics', 'Physics', 'Physics', 'Math',
       'Economics', 'Economics', 'Physics', 'Physics', 'Math', 'Physics',
       'Economics', 'Economics', 'Math', 'Physics', 'Physics', 'Physics',
       'Economics', 'Math', 'Math', 'Physics', 'Economics', 'Physics',
       'Math', 'Physics', 'Math', 'Math', 'Physics', 'Physics', 'Math',
       'Economics', 'Math', 'Economics', 'Physics', 'Economics', 'Physics',
       'Math', 'Physics', 'Math', 'Physics', 'Economics', 'Math',
       'Economics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Physics', 'Math', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Economics', 'Economics',
       'Physics', 'Physics', 'Physics', 'Physics', 'Math', 'Physics',
       'Physics', 'Math', 'Economics', 'Math', 'Physics', 'Physics',
       'Physics', 'Physics', 'Physics', 'Economics', 'Physics', 'Math',
       'Math', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Math', 'Physics', 'Math', 'Physics', 'Physics',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Math', 'Physics', 'Physics', 'Physics', 'Economics', 'Physics',
       'Physics', 'Physics', 'Math', 'Math', 'Physics', 'Math',
       'Economics', 'Economics', 'Physics', 'Physics', 'Math', 'Math',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Math', 'Math', 'Physics', 'Economics', 'Economics', 'Physics',
       'Physics', 'Math', 'Economics', 'Economics', 'Physics', 'Math',
       'Math', 'Physics', 'Physics', 'Physics', 'Math', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Math', 'Math', 'Physics',
       'Physics', 'Physics', 'Physics', 'Physics', 'Economics', 'Math',
       'Physics', 'Math', 'Physics', 'Physics', 'Math', 'Physics',
       'Economics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Math', 'Economics', 'Physics', 'Economics', 'Economics', 'Physics',
       'Physics', 'Math', 'Physics', 'Math', 'Economics', 'Physics',
       'Physics', 'Physics', 'Physics', 'Math', 'Economics', 'Physics',
       'Math', 'Math', 'Physics', 'Physics', 'Math', 'Math', 'Math',
       'Physics', 'Math', 'Economics', 'Math', 'Physics', 'Physics',
       'Math', 'Math', 'Physics', 'Economics', 'Math', 'Math', 'Physics',
       'Physics', 'Physics', 'Economics', 'Math', 'Physics', 'Physics',
       'Economics', 'Physics', 'Physics', 'Physics', 'Economics', 'Math',
       'Physics', 'Math', 'Physics', 'Math', 'Math', 'Math', 'Economics',
       'Math', 'Physics', 'Math', 'Math', 'Economics', 'Economics',
       'Physics', 'Physics', 'Math', 'Math', 'Physics', 'Math', 'Physics',
       'Physics', 'Economics', 'Economics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Math', 'Physics', 'Physics', 'Physics',
       'Math', 'Economics', 'Physics', 'Physics', 'Math', 'Math', 'Math',
       'Math', 'Physics', 'Physics', 'Physics', 'Math', 'Economics',
       'Economics', 'Economics', 'Economics', 'Math', 'Physics', 'Physics',
       'Physics', 'Physics', 'Physics', 'Math', 'Math', 'Physics',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Math', 'Math', 'Math', 'Math', 'Math', 'Math', 'Physics',
       'Physics', 'Math', 'Physics', 'Economics', 'Economics', 'Math',
       'Math', 'Math', 'Math', 'Physics', 'Physics', 'Math', 'Physics',
       'Economics', 'Math', 'Economics', 'Math', 'Physics', 'Physics',
       'Economics', 'Physics', 'Economics', 'Physics', 'Physics',
       'Economics', 'Math', 'Physics', 'Math', 'Economics', 'Physics',
       'Physics', 'Economics', 'Math', 'Math', 'Math', 'Physics',
       'Physics', 'Math', 'Economics', 'Math', 'Math', 'Physics',
       'Physics', 'Physics', 'Math', 'Math', 'Physics', 'Math', 'Physics',
       'Economics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Economics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Economics', 'Math', 'Math', 'Math', 'Economics', 'Math',
       'Physics', 'Physics', 'Physics', 'Physics', 'Economics', 'Math',
       'Math', 'Math', 'Physics', 'Physics', 'Economics', 'Math',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Math',
       'Math', 'Physics', 'Physics', 'Physics', 'Physics', 'Economics',
       'Math', 'Math', 'Economics', 'Economics', 'Physics', 'Math',
       'Economics', 'Math', 'Physics', 'Math', 'Physics', 'Physics',
       'Math', 'Physics', 'Math', 'Physics', 'Economics', 'Economics',
       'Economics', 'Physics', 'Economics', 'Math', 'Math', 'Economics',
       'Physics', 'Physics', 'Physics', 'Economics', 'Math', 'Math',
       'Physics', 'Physics', 'Economics', 'Physics', 'Math', 'Physics',
       'Math', 'Math', 'Math', 'Math', 'Economics', 'Physics', 'Math',
       'Physics', 'Math', 'Math', 'Math', 'Physics', 'Math', 'Economics',
       'Physics', 'Economics', 'Math', 'Physics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Math', 'Math', 'Math', 'Math', 'Physics',
       'Math', 'Physics', 'Physics', 'Physics', 'Math', 'Physics',
       'Physics', 'Economics', 'Economics', 'Physics', 'Economics',
       'Economics', 'Math', 'Physics', 'Physics', 'Math', 'Physics',
       'Physics', 'Physics', 'Physics', 'Economics', 'Physics', 'Physics',
       'Math', 'Economics', 'Physics', 'Physics', 'Math', 'Math',
       'Economics', 'Physics', 'Economics', 'Physics', 'Math', 'Math',
       'Physics', 'Physics', 'Physics', 'Math', 'Math', 'Math', 'Math',
       'Physics', 'Physics', 'Math', 'Math', 'Economics', 'Math',
       'Physics', 'Math', 'Physics', 'Economics', 'Math', 'Economics',
       'Physics', 'Economics', 'Math', 'Physics', 'Math', 'Physics',
       'Math', 'Economics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Math', 'Physics', 'Math', 'Economics', 'Physics', 'Math',
       'Physics', 'Math', 'Physics', 'Economics', 'Physics', 'Physics',
       'Physics', 'Math', 'Math', 'Math', 'Economics', 'Math', 'Physics',
       'Math', 'Physics', 'Physics', 'Physics', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Math', 'Physics', 'Economics',
       'Physics', 'Economics', 'Physics', 'Physics', 'Economics', 'Math',
       'Math', 'Math', 'Math', 'Physics', 'Economics', 'Physics', 'Math',
       'Math', 'Math', 'Math', 'Math', 'Economics', 'Physics', 'Math',
       'Physics', 'Math', 'Physics', 'Physics', 'Economics', 'Math',
       'Physics', 'Physics', 'Physics', 'Math', 'Physics', 'Physics',
       'Physics', 'Math', 'Physics', 'Economics', 'Math', 'Economics',
       'Economics', 'Math', 'Physics', 'Economics', 'Economics',
       'Economics', 'Physics', 'Economics', 'Math', 'Physics', 'Economics',
       'Math', 'Economics', 'Economics', 'Physics', 'Economics', 'Physics',
       'Physics', 'Economics', 'Physics', 'Math', 'Math', 'Physics',
       'Economics', 'Economics', 'Physics', 'Physics', 'Math', 'Physics',
       'Math', 'Economics', 'Math', 'Physics', 'Physics', 'Economics',
       'Physics', 'Physics', 'Physics', 'Economics', 'Economics', 'Math',
       'Economics', 'Math', 'Physics', 'Math', 'Economics', 'Economics',
       'Math', 'Physics', 'Math', 'Math', 'Math', 'Economics', 'Math',
       'Economics', 'Physics', 'Physics', 'Math', 'Math', 'Physics',
       'Economics', 'Physics', 'Math', 'Physics', 'Physics', 'Economics',
       'Math', 'Math', 'Economics', 'Economics', 'Economics', 'Economics',
       'Physics', 'Math', 'Economics', 'Physics', 'Economics', 'Math',
       'Math', 'Math', 'Physics', 'Math', 'Physics', 'Math', 'Physics',
       'Math', 'Physics', 'Math', 'Physics', 'Math', 'Physics',
       'Economics', 'Math', 'Math', 'Physics', 'Physics', 'Math', 'Math',
       'Economics', 'Economics', 'Math', 'Physics', 'Physics', 'Physics',
       'Physics', 'Math', 'Physics', 'Math', 'Economics', 'Math',
       'Physics', 'Math', 'Economics', 'Economics', 'Physics', 'Physics',
       'Economics', 'Economics', 'Economics', 'Economics', 'Physics',
       'Economics', 'Physics', 'Economics', 'Economics', 'Physics',
       'Physics', 'Economics', 'Math', 'Economics', 'Physics', 'Physics',
       'Physics', 'Economics', 'Math', 'Physics', 'Economics', 'Math',
       'Math', 'Math', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Economics', 'Math', 'Physics', 'Physics', 'Physics',
       'Math', 'Math', 'Physics', 'Math', 'Physics', 'Physics', 'Physics',
       'Physics', 'Math', 'Economics', 'Math', 'Math', 'Physics', 'Math',
       'Physics', 'Math', 'Physics', 'Math', 'Physics', 'Physics',
       'Economics', 'Physics', 'Economics', 'Economics', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Math', 'Physics', 'Physics',
       'Physics', 'Economics', 'Physics', 'Math', 'Math', 'Physics',
       'Physics', 'Physics', 'Physics', 'Physics', 'Math', 'Physics',
       'Physics', 'Physics', 'Math', 'Physics', 'Physics', 'Physics',
       'Math', 'Physics', 'Math', 'Physics', 'Math', 'Economics', 'Math',
       'Math', 'Math', 'Economics', 'Math', 'Economics', 'Physics',
       'Physics', 'Physics', 'Math', 'Math', 'Physics', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Physics', 'Physics', 'Math', 'Physics',
       'Math', 'Physics', 'Economics', 'Economics', 'Physics', 'Physics',
       'Math', 'Math', 'Economics', 'Physics', 'Math', 'Math', 'Physics',
       'Economics', 'Math', 'Physics', 'Physics', 'Physics', 'Physics',
       'Physics', 'Physics', 'Physics', 'Physics', 'Physics', 'Physics',
       'Economics', 'Physics', 'Physics', 'Physics', 'Math', 'Economics',
       'Economics', 'Math', 'Physics', 'Physics', 'Physics', 'Math',
       'Physics', 'Physics', 'Physics', 'Economics', 'Economics',
       'Economics', 'Physics', 'Math', 'Math', 'Physics', 'Math',
       'Economics', 'Economics', 'Physics', 'Math', 'Physics'],
      dtype='<U9')

In [87]:
#How many of each major did we actually get?
for major in majors:
    print(major, (lots_of_majors == major).sum())

Economics 194
Physics 504
Math 302

### Intro to Pandas
Pandas is going to be your best friend for the rest of your time analyzing data in Python. It offers much of the functionality of Numpy, but with a MUCH more user-friendly way of displaying and accessing data.

The two fundamental data structures of Pandas are the Series and the DataFrame. A Series can be viewed as equivalent to a Numpy array, while a DataFrame can be viewed as a combination of Series, with some additional functionality.

Let's start by opening a file using Pandas built-in method.

In [88]:
import pandas as pd
students_df = pd.read_csv('students.csv') #This is way easier than our method from before!

In [89]:
#Let's look at the first few records of the students DataFrame
students_df.head(10) #The "head" method will give you as many rows as you ask for; 5 is default

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00
5,6c849c3e-e640-4bba-a86a-4323fd513b90,Alphonse,Allen,Male,Freshman,Engineering,2.99
6,a5c87c39-447c-4c29-92af-fa702a8d5595,Linwood,Coleman,Male,Freshman,Engineering,3.58
7,f6b177e8-e00a-480e-b62e-906c2ad80f85,Arthur,Mccolpin,Male,Junior,Math,3.04
8,8387594f-c9b2-4daa-ae93-c3e40f58cb26,Daniel,Carter,Male,Junior,Chemistry,2.41
9,156aefe7-73b4-4777-929c-7aa9c0cd35c5,Barry,Reyes,Male,Junior,Finance,3.00

#### Intro to the DataFrame

DataFrames consist of rows and columns. These are the fundamental "units" of data for a Data Scientist. This is what allows us to organize our data to analyze quickly and consistently. Rows are considered individual "observations" whereas columns are considered "attributes." The "shape" of a data is defined as the number of rows by the number of columns.

In the DataFrame above, you can see that the attributes identified are:
- student_id
- first
- last
- gender
- class
- major
- gpa

Each student's information can be found in a row. Thus, the first row (index 0) is Janis Brown, who is a Female and a Junior Economics student with a GPA of 3.12.

This is MUCH easier to read and track than lists of dictionaries or dictionaries of dictionaries or whatever other combination of data structures that base Python might be able to display for you. You're probably asking why ALL data isn't shown this way, and we'll get to that later on, but in the meantime, let's focus on the simple case here.

Let's start by looking at the shape of the data.

In [90]:
students_df.shape

(10000, 7)

This means that the data has 10,000 rows and 7 columns. The first things you should always do when using DataFrames is look at the first few rows (the `.head()` method) and the shape of the data.

### Accessing chunks of data in a DataFrame

You will almost always want to focus your attention or compute values oncertain subsections of the data. For this there are several ways to slice and dice the data.

##### Accessing columns

Much like dictionaries, columns are accessed via brackets and some column name (just like keys).

In [91]:
first_names = students_df['first'] #Returns a Pandas "Series" object
first_names

0           Janis
1         Timothy
2       Elizabeth
3          Edward
4            Lisa
5        Alphonse
6         Linwood
7          Arthur
8          Daniel
9           Barry
10      Maryellen
11          Jacob
12           Lisa
13            Ida
14           Lola
15           Joan
16          Larry
17      Bridgette
18          James
19          David
20         Ronald
21        Heather
22          Nancy
23          David
24          Jesus
25        Richard
26          Henry
27          Pedro
28         Israel
29           Mary
          ...
9970     Georgina
9971      Lynette
9972       Vickie
9973       Willie
9974       Sylvia
9975        Derek
9976      Charles
9977     Jonathan
9978         Dave
9979        Ralph
9980         Leta
9981        Megan
9982       Olivia
9983         Anne
9984         John
9985         John
9986       Shelly
9987       Roland
9988     Margaret
9989        Alice
9990        Mable
9991       Joseph
9992       Gladys
9993      Douglas
9994       Brandy
9995       Kendra
9996        Tonya
9997      Deborah
9998        David
9999       Cheryl
Name: first, Length: 10000, dtype: object

Unlike dictionaries, you can access multiple columns at the same time.

In [92]:
full_names = students_df[['first', 'last']]
full_names

          first       last
0         Janis      Brown
1       Timothy     Bishop
2     Elizabeth      Owens
3        Edward    Pearson
4          Lisa   Gonzalez
5      Alphonse      Allen
6       Linwood    Coleman
7        Arthur   Mccolpin
8        Daniel     Carter
9         Barry      Reyes
10    Maryellen       Pack
11        Jacob      Davis
12         Lisa     Walden
13          Ida     Garcia
14         Lola     Bailey
15         Joan   Decoteau
16        Larry     Rogers
17    Bridgette    Vitucci
18        James  Bertolini
19        David   Burnette
20       Ronald     Foster
21      Heather    Manning
22        Nancy   Mclendon
23        David      Gross
24        Jesus    Boswell
25      Richard      Joyce
26        Henry      Allen
27        Pedro    Baldyga
28       Israel       Mota
29         Mary        Chi
...         ...        ...
9970   Georgina   Williams
9971    Lynette      Barth
9972     Vickie      Moore
9973     Willie   Watanabe
9974     Sylvia   Kalberer
9975      Derek      Nealy
9976    Charles     Dixson
9977   Jonathan    Daniels
9978       Dave      Brown
9979      Ralph     Latham
9980       Leta  Edgeworth
9981      Megan   Mccullar
9982     Olivia     Martin
9983       Anne     Hughes
9984       John      Adams
9985       John     Hebert
9986     Shelly     Santos
9987     Roland   Williams
9988   Margaret     Henley
9989      Alice    Crowder
9990      Mable   Thompson
9991     Joseph   Robinson
9992     Gladys       Paul
9993    Douglas       Haas
9994     Brandy     Alford
9995     Kendra      Bayer
9996      Tonya    Burnett
9997    Deborah     Conley
9998      David       Seay
9999     Cheryl    Edwards

[10000 rows x 2 columns]

##### Accessing rows

Much like numpy arrays, rows can be accessed via indices.

In [93]:
first_5_students = students_df.iloc[:5]
first_5_students

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00

In [94]:
second_10_students = students_df.iloc[5:10]
second_10_students

,student_id,first,last,gender,class,major,gpa
5,6c849c3e-e640-4bba-a86a-4323fd513b90,Alphonse,Allen,Male,Freshman,Engineering,2.99
6,a5c87c39-447c-4c29-92af-fa702a8d5595,Linwood,Coleman,Male,Freshman,Engineering,3.58
7,f6b177e8-e00a-480e-b62e-906c2ad80f85,Arthur,Mccolpin,Male,Junior,Math,3.04
8,8387594f-c9b2-4daa-ae93-c3e40f58cb26,Daniel,Carter,Male,Junior,Chemistry,2.41
9,156aefe7-73b4-4777-929c-7aa9c0cd35c5,Barry,Reyes,Male,Junior,Finance,3.00

Also like numpy arrays, you can filter! This is going to be life changing!

In [97]:
gender = students_df['gender']
female_filt = gender =='Female'
female_students_df = students_df[female_filt]
female_students_df.head(10)

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00
10,8dd7650e-55e0-416e-9f7e-44ead1dc08a2,Maryellen,Pack,Female,Junior,Finance,3.83
12,1846c044-9a87-49e4-ad4f-d1bfadb4e41b,Lisa,Walden,Female,Senior,Economics,3.40
13,21cdf664-d905-44ae-a480-81b687aefa67,Ida,Garcia,Female,Freshman,Chemistry,3.54
14,15714049-2a88-4dbc-8d1a-dde0095a3acf,Lola,Bailey,Female,Senior,Physics,3.28
15,35de9214-505e-4d55-80e6-0302098a44b6,Joan,Decoteau,Female,Senior,Economics,3.81
17,4cb6a2fb-7f67-45ca-abc6-7252aa99d9f0,Bridgette,Vitucci,Female,Sophomore,Chemistry,3.10
21,8eaad117-5777-4ea5-bb6d-663865eeb196,Heather,Manning,Female,Sophomore,Engineering,2.87

Let's take a step-by-step approach to figuring out that filter.

In [100]:
#Find out which rows are females
female_filt = students_df['gender']=='Female' #female_filt will be a Series object of True and False values
female_filt.head()

0     True
1    False
2     True
3    False
4     True
Name: gender, dtype: bool

In [101]:
#Now apply that filter to the DataFrame
females_df = students_df[female_filt]

In [102]:
#How many are students are there?
females_df.shape[0]

4921

In [106]:
#Now let's find out which rows are females AND are studying Economics
econ_filt = students_df['major'] == 'Economics'
combined_filt = econ_filt & female_filt
combined_filt.head()

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [107]:
#Now apply that double filter to the DataFrame
female_econ_students = students_df[combined_filt]
female_econ_students.head(10)

,student_id,first,last,gender,class,major,gpa
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12
12,1846c044-9a87-49e4-ad4f-d1bfadb4e41b,Lisa,Walden,Female,Senior,Economics,3.40
15,35de9214-505e-4d55-80e6-0302098a44b6,Joan,Decoteau,Female,Senior,Economics,3.81
43,667a8999-3765-4a83-bc64-612f64a2011e,Tosha,Flanagan,Female,Junior,Economics,3.92
49,ee1ce005-5671-431b-b832-61452d15ad76,Yvonne,Delo,Female,Sophomore,Economics,2.87
54,ed1f11d4-cf19-4792-83dd-0f9fea5a4692,Karla,Cota,Female,Junior,Economics,3.12
60,52856cb8-4ee2-438b-b645-1e67eee3d3c0,Elizabeth,Ali,Female,Junior,Economics,3.32
65,0413e874-519a-4a8a-a7c8-4350923519fa,Dolores,Henderson,Female,Sophomore,Economics,3.31
67,b7fd1a05-80b7-4fa4-8eef-db1851ad2a4f,Alma,Hines,Female,Junior,Economics,3.77
79,9af34895-3ba0-407f-97ca-50d9ece1e3ed,Buffy,Wirth,Female,Senior,Economics,3.43

In [109]:
#How many are students are there?
female_econ_students.shape[0] #Shape returns a tuple with row and column counts

1500

In [110]:
#Now let's find out which rows are females and are studying Engineering and are on probation
eng_filt = students_df['major'] == 'Engineering'
probation_filt = students_df['gpa'] < 3
female_eng_probation_filt = female_filt & eng_filt & probation_filt

In [112]:
#Now apply that double filter to the DataFrame
female_eng_probation_df = students_df[female_eng_probation_filt]
female_eng_probation_df.head(10)

,student_id,first,last,gender,class,major,gpa
21,8eaad117-5777-4ea5-bb6d-663865eeb196,Heather,Manning,Female,Sophomore,Engineering,2.87
87,2b99d648-6619-405f-91f1-4c0e4dec489d,Meghan,Gilman,Female,Junior,Engineering,2.50
185,4bb0282b-d52b-4e8f-9cd5-4dbd0b4fe65f,Jani,Turman,Female,Sophomore,Engineering,2.93
254,31d08966-445e-4ea1-aa95-4d31e345b77e,Frances,Mcdaniel,Female,Freshman,Engineering,2.84
441,712d90a2-e0ac-466c-ab8f-e300da831920,Lauren,Williams,Female,Freshman,Engineering,2.94
576,e27dc2f9-bc8f-40a7-b072-063062aad2da,Denise,Kehoe,Female,Sophomore,Engineering,2.74
580,acacbd17-edea-4eeb-8e86-f83a6ebc6f5b,Candace,Ritter,Female,Freshman,Engineering,2.75
583,9e99c961-c090-433b-b31f-66f378988ee0,Amanda,Medlock,Female,Sophomore,Engineering,2.73
585,b79fc028-b637-4354-b093-8b89d65e6211,Denise,Peoples,Female,Sophomore,Engineering,2.57
665,9b2af973-90f0-4ab1-97f3-7cda0df18f4f,Natasha,Rojas,Female,Sophomore,Engineering,2.93

In [113]:
#How many are students are there?
female_eng_probation_df.shape[0]

247

Now Let's compute the percentage of students on probation by department. First we need to add a new column of booleans that indicate whether a student is on probation or not

In [117]:
#Create boolean column for probation status
on_probation_filt = students_df['gpa'] < 3
students_df['on_probation'] = on_probation_filt
students_df.head()

,student_id,first,last,gender,class,major,gpa,on_probation
0,5a397209-3782-4764-a285-10fae807ee71,Janis,Brown,Female,Junior,Economics,3.12,False
1,e26c3d69-3c74-49b6-81d7-47232787fad9,Timothy,Bishop,Male,Sophomore,Economics,3.48,False
2,975c1581-5ba2-430c-a3d1-01ce03bd83f9,Elizabeth,Owens,Female,Freshman,Finance,3.40,False
3,6081f91d-365c-46ce-ad1b-38af120781d9,Edward,Pearson,Male,Freshman,Math,3.84,False
4,84cec8f4-0b64-44ce-a628-c0eb73f6ca6f,Lisa,Gonzalez,Female,Junior,Finance,4.00,False

In [116]:
#As we did earlier with the percentage of students with 4.0 GPAs, we can use the mean of True values to compute
students_df.groupby('major')[['on_probation']].mean()

             on_probation
major
Chemistry        0.132714
Economics        0.075013
Engineering      0.359390
Finance          0.048193
Math             0.180822
Physics          0.182178

That's WAY easier than how we used to do things with dictionaries!!! We will go more into grouping data next week :)